.main-window__ {
  &wrapper {
    width: 100%;
  }

  &titles {
    border-bottom: 1px solid #414144;
    height: 44px;

    >a {
      display: inline-flex;
      font-size: 18px;
      line-height: 21px;
      color: #FFFFFF;
      padding: 11px 15px;
      text-decoration: none;
      border-right: 1px solid #414144;
    }
  }

  &body {
    background-color: #202124;
    height: 100%;

    .row__title-wrapper {
      display: grid;
      grid-template-columns: 110px 8fr 2fr 2fr 2fr 2fr;
      border-bottom: 1px solid #414144;
      align-items: center;
    }

    .row__title {
      padding: 12px 21px;
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 0.1px;
      color: #A1A1AA;
      word-break: break-word;
    }
  }
}