@font-face {
  font-family: "Roboto";
  src: url("./Fonts/Roboto-Regular-400.ttf");
  font-weight: 400;
  font-style: normal;
}

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  height: 100%;
  margin: 0;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #27272A;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  height: 100%;
}

.app-menu-window-wrapper {
  display: grid;
  grid-template-columns: 240px auto;
  height: 100%;

}